<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxqO6viBQad9fvRZwyN_UFDSRlr-6bbhU</string>
	<key>GCM_SENDER_ID</key>
	<string>7861739186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineShope</string>
	<key>PROJECT_ID</key>
	<string>my-application-40c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-application-40c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7861739186:ios:535d27a2b213521eba33ab</string>
	<key>DATABASE_URL</key>
	<string>https://my-application-40c8e-default-rtdb.firebaseio.com</string>
</dict>
</plist>